<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Page</title>
</head>
<body>

<form action="/" method="post">
<label for="topic">Enter your Topic </label><input type="text" id='topic' name="Topic"> <BR>
<label for="subTopic">Enter your Sub Topic </label><input type="text" id='subTopic' name="SubTopic"> <BR>
<label for="contentTopic">Enter your Content on Topic </label><input type="text" id='contentTopic' name="Content"> <BR>
<label for="relatedImage">Enter your Related Image  </label><input type="text" id='relatedImage' name="Image"> <BR>
<label for="additionalLink">Enter your additional Link  </label><input type="text" id='additionalLink' name="Link"> <BR>
<input type="submit" value ='Add Page'>



</form>

</body>
</html>